.DS_Store
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/custom.el
emacs/.emacs.d/elpa
emacs/.emacs.d/eshell
emacs/.emacs.d/history
emacs/.emacs.d/ido.last
emacs/.emacs.d/places
emacs/.emacs.d/projects
emacs/.emacs.d/transient
emacs/.emacs.d/url
